.nav a {
  color: rgb(82, 133, 82);
}

.nav a:hover {
  color: rgb(87, 87, 87);
}

.nav img {
  width: 60px;
  height: auto;
}

.content {
  padding: 30px;
}

.introduction {
  margin-bottom: 50px;
  font-size: 32px;
}

.post-entry h2 {
  margin-bottom: 10px;
}

.post-entry .publish-date {
  color: #666666;
  font-style: italic;
}

.post-entry .post-link {
  text-decoration: none;
  color: rgb(82, 133, 82);
}

.post-entry .post-link:hover {
  color: rgb(87, 87, 87);
}
